ul{
    padding: 0px;
}
.TodoContainer{
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 24rem;
    height: 4rem;
    align-items: center;
    box-shadow: 0 1px 3px rgba(34, 33, 33, 0.753);  
    margin: 0 auto;

}

.ToDoIcon{
margin-right: 8px;
}

.ToDoIcon:hover{
cursor: pointer;
}


.ToDoInfo{
   margin: 0 auto;
    font-family: 'Sen', sans-serif;
}

